.comments-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.commentdate {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.comments-user:nth-child(even) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.comment {
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 1.5rem;
  background-color: deepskyblue;
}
